@font-face {
  font-family: 'Cabin';
  src: url('../../images/Cabin-Regular.ttf');
}

.create-profile body {
  font-family: Cabin;
  background-color: #e0e0e0;
}

.create-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
}

.create-profile .wrapper {
  width: 380px;
  min-height: calc(100vh - 4rem);
  margin-top: 0;
  background-color: #fff;
}

.create-profile .container {
  display: flex;
  justify-content: center;
}

.create-profile .container-info {
  width: 100%;
  background-color: #fff;
}

.create-profile header {
  height: 4rem;
  width: 100%;
  margin-top: 0;
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: #fff;
}

.create-profile header h2 {
  margin-left: 1rem;
}

.create-profile .action {
  margin-right: 2rem;
  border: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
}

.create-profile .form-container {
  display: flex;
  flex-direction: column;
}

.create-profile .profile-pic {
  height: 6rem;
  width: 6rem;
  border-radius: 65px;
}

.create-profile label {
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 0.8rem;
  color: #505050;
}

.create-profile .picture-div {
  display: flex;
  flex-direction: column;
  background-color: #e8e8e8;
}

.create-profile input {
  padding: 1rem;
}

.create-profile input[type='text'],
input[type='number'],
input[type='password'] {
  border: none;
  border-bottom: 1px solid grey;
  font-size: 1rem;
}
