html {
  background-color: #e0e0e0;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #e0e0e0;
}

.search .wrapper {
  width: 380px;
  min-height: calc(100vh - 4rem);
  margin-top: 0;
  background-color: #fff;
}

.search header {
  height: 4rem;
  width: 100%;
  margin-top: 0;
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: #fff;
}

.search header h2 {
  margin-left: 1rem;
}

.search .action {
  margin-right: 2rem;
  border: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
}

.search .action:hover {
  color: #007bff;
}

.search .container {
  display: flex;
  justify-content: center;
}

.search .container-info {
  width: 100%;
  background-color: #fff;
}

.search .location {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

.search .departure-date-time {
  margin-top: 1rem;
  margin-left: 1rem;
  padding: 0;
}

.search .departure-date-time p {
  margin-top: 0;
}

.search .arrival-date-time {
  margin-top: 2rem;
  margin-left: 1rem;
}

.search .locations {
  margin-top: 1rem;
  margin-left: 1rem;
}

.search-map {
  width: 380px;
}

.search .seats {
  margin-top: 2rem;
  margin-left: 1rem;
}

.search .price {
  margin-top: 2rem;
  margin-left: 1rem;
}

.search .search-ride-form {
  border-bottom: 1px solid #ccc;
}

.search .create-drive {
  height: 30px;
  width: 130px;
  margin-right: 10px;
  font-size: 0.7rem;
  font-weight: bold;
  background-color: #ccc;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.search .search-button {
  height: 30px;
  width: 130px;
  margin-right: 10px;
  font-size: 0.7rem;
  font-weight: bold;
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
  outline: none;
}

.search .search-button:hover {
  opacity: 0.85;
}

.search .create-drive-div {
  border-bottom: 50px solid #e0e0e0;
}

.search .card-preview {
  display: flex;
  flex-direction: column;
  border-bottom: 5px solid #ccc;
}

.search .card-preview p {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.search .card-preview-header {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  line-height: 0.5rem;
  background-color: #fff;
}

.search .thumbnail {
  height: 4rem;
  width: auto;
  border-radius: 500px;
}

.search .card-preview-text {
  margin-left: 1rem;
  font-size: 1rem;
}

.search .card-map {
  height: 8rem;
  width: 100%;
}

.search .card-preview-secondary-text {
  padding: 0.5rem;
  font-size: 1rem;
}

.search .book-ride {
  height: 100%;
  width: 130px;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 0.7rem;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  background-color: #28a745;
  border: none;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.search .book-ride:hover {
  opacity: 0.85;
}

.search .driver-profile-div {
  height: 30px;
  width: 100%;
  margin-bottom: 1rem;
}

.search .driver-profile {
  height: 100%;
  width: 130px;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 0.7rem;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  background-color: #17a2b8;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.search .driver-profile:hover {
  opacity: 0.85;
}

@media only screen and (min-width: 700px) {
  .search .wrapper {
    width: 100%;
    min-height: 100%;
  }

  .search .locations {
    font-size: 1.5rem;
  }

  .search-map {
    height: 100%;
    width: 100%;
  }

  .search .map-div-1,
  .search .map-div-2 {
    height: 70vh;
    width: 50%;
  }

  .search .map-div-1 {
    margin-right: 0.5rem;
  }

  .search .maps {
    display: flex;
    flex-direction: row;
    margin-bottom: 5rem;
  }

  .search .datetimes {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .search .departure-date-time,
  .search .arrival-date-time {
    height: 25vh;
    width: 50%;
  }

  .search .departure-date-time p,
  .search .arrival-date-time p {
    margin-top: 0;
    font-size: 1.5rem;
  }

  .search .departure-date-time,
  .search .arrival-date-time {
    margin: 0;
    margin-left: 1rem;
  }

  .search .seats label,
  .search .price label {
    font-size: 1.5rem;
  }

  .search .seats,
  .search .price {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .search .seats select {
    margin-left: 1rem;
    font-size: 1rem;
  }

  .search .price input {
    font-size: 1rem;
  }

  .search .search-button {
    margin-top: 2rem;
  }

  .search .results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #e0e0e0;
  }

  .search .card-preview {
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
    border: 1.2px solid black;
    border-radius: 4px;
    margin: 5px;
    background-color: #fff;
  }

  .search .search-ride-form {
    border-bottom: none;
  }

  /* Below styling is from react datetime library.
 * I modified it to my needs.
 * https://github.com/YouCanBookMe/react-datetime
 */

  .search .rdt {
    position: relative;
  }

  .search .rdtPicker {
    display: none;
    position: absolute;
    width: 650px;
    padding: 5px;
    margin-top: 1px;
    z-index: 99999 !important;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #f9f9f9;
  }

  .search .rdt input {
    font-size: 1rem;
  }

  .search .rdtOpen .rdtPicker {
    display: block;
  }

  .search .rdtStatic .rdtPicker {
    box-shadow: none;
    position: static;
  }

  .search .rdtPicker .rdtTimeToggle {
    text-align: center;
  }

  .search .rdtPicker table {
    width: 100%;
    margin: 0;
  }

  .search .rdtPicker td,
  .search .rdtPicker th {
    text-align: center;
    height: 28px;
  }

  .rdtPicker td {
    cursor: pointer;
  }

  .search .rdtPicker td.rdtDay:hover,
  .search .rdtPicker td.rdtHour:hover,
  .search .rdtPicker td.rdtMinute:hover,
  .search .rdtPicker td.rdtSecond:hover,
  .search .rdtPicker .rdtTimeToggle:hover {
    background: #eeeeee;
    cursor: pointer;
  }

  .search .rdtPicker td.rdtOld,
  .search .rdtPicker td.rdtNew {
    color: #999999;
  }

  .search .rdtPicker td.rdtToday {
    position: relative;
  }

  .search .rdtPicker td.rdtToday:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-bottom: 7px solid #428bca;
    border-top-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 4px;
    right: 4px;
  }

  .search .rdtPicker td.rdtActive,
  .search .rdtPicker td.rdtActive:hover {
    background-color: #428bca;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  }

  .search .rdtPicker td.rdtActive.rdtToday:before {
    border-bottom-color: #fff;
  }

  .search .rdtPicker td.rdtDisabled,
  .search .rdtPicker td.rdtDisabled:hover {
    background: none;
    color: #999999;
    cursor: not-allowed;
  }

  .search .rdtPicker td span.rdtOld {
    color: #999999;
  }

  .search .rdtPicker td span.rdtDisabled,
  .search .rdtPicker td span.rdtDisabled:hover {
    background: none;
    color: #999999;
    cursor: not-allowed;
  }

  .search .rdtPicker th {
    border-bottom: 1px solid #f9f9f9;
  }

  .search .rdtPicker .dow {
    width: 14.2857%;
    border-bottom: none;
    cursor: default;
  }

  .search .rdtPicker th.rdtSwitch {
    width: 100px;
  }

  .search .rdtPicker th.rdtNext,
  .search .rdtPicker th.rdtPrev {
    font-size: 21px;
    vertical-align: top;
  }

  .search .rdtPrev span,
  .search .rdtNext span {
    display: block;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
  }

  .search .rdtPicker th.rdtDisabled,
  .search .rdtPicker th.rdtDisabled:hover {
    background: none;
    color: #999999;
    cursor: not-allowed;
  }

  .search .rdtPicker thead tr:first-child th {
    cursor: pointer;
  }

  .search .rdtPicker thead tr:first-child th:hover {
    background: #eeeeee;
  }

  .search .rdtPicker tfoot {
    border-top: 1px solid #f9f9f9;
  }

  .search .rdtPicker button {
    border: none;
    background: none;
    cursor: pointer;
  }

  .search .rdtPicker button:hover {
    background-color: #eee;
  }

  .search .rdtPicker thead button {
    width: 100%;
    height: 100%;
  }

  .search td.rdtMonth,
  .search td.rdtYear {
    height: 50px;
    width: 25%;
    cursor: pointer;
  }

  .search td.rdtMonth:hover,
  .search td.rdtYear:hover {
    background: #eee;
  }

  .search .rdtCounters {
    display: inline-block;
  }

  .search .rdtCounters > div {
    float: left;
  }

  .search .rdtCounter {
    height: 100px;
  }

  .search .rdtCounter {
    width: 40px;
  }

  .search .rdtCounterSeparator {
    line-height: 100px;
  }

  .search .rdtCounter .rdtBtn {
    height: 40%;
    line-height: 40px;
    cursor: pointer;
    display: block;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
  }

  .search .rdtCounter .rdtBtn:hover {
    background: #eee;
  }

  .search .rdtCounter .rdtCount {
    height: 20%;
    font-size: 1.2em;
  }

  .search .rdtMilli {
    vertical-align: middle;
    padding-left: 8px;
    width: 48px;
  }

  .search .rdtMilli input {
    width: 100%;
    font-size: 1.2em;
    margin-top: 37px;
  }

  .search .rdtTime td {
    cursor: default;
  }
}
