@font-face {
  font-family: 'Cabin';
  src: url('../../images/Cabin-Regular.ttf');
}

.profile body {
  font-family: Cabin;
  background-color: #e0e0e0;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
}

.profile .wrapper {
  width: 380px;
  min-height: calc(100vh - 4rem);
  margin-top: 0;
  background-color: #fff;
}

.profile header {
  height: 4rem;
  width: 100%;
  margin-top: 0;
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: #fff;
}

.profile header h2 {
  margin-left: 1rem;
}

.actions {
  display: none;
}

.profile .action {
  margin-right: 2rem;
  border: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
}

.action-burger {
  margin-bottom: 1.5rem;
  border: none;
  background-color: #373a47;
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
  outline: none;
}

.action-burger:hover {
  color: #007bff;
}

.profile .action:hover {
  color: #007bff;
}

.profile .picture {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile .profile-picture {
  height: 380px;
  width: auto;
}

.profile .container {
  display: flex;
  justify-content: center;
}

.profile .container-info {
  width: 100%;
  background-color: #fff;
}

.profile .name {
  display: flex;
  justify-content: center;
  background-color: #000;
}

.profile .name h2 {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 2rem;
  color: #fff;
}

.profile .bio {
  display: flex;
  justify-content: center;
}

.profile .bio-info {
  width: 100%;
}

.profile .email {
  margin-left: 1rem;
  display: flex;
  justify-content: center;
}

.profile .email p {
  padding: 0;
}

.profile .email-info {
  width: 100%;
}

.profile #update-profile-form {
  width: 50%;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.profile .age {
  margin-bottom: 0.5rem;
}

.profile .hidden {
  display: none;
}

.profile .bio-info,
.profile .age-info {
  margin-top: 0;
  margin-left: 1rem;
}

.profile .bio-div {
  width: 90%;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 30px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #fff;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #007bff;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2rem 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width: 700px) {
  .actions {
    display: block;
  }

  .hamburger-menu {
    display: none;
  }

  .profile .wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .profile .profile-picture {
    height: calc(100vh - 4rem);
    width: auto;
  }

  .profile .container-info {
    width: 500px;
    font-size: 1.2rem;
  }

  .profile .name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #fff;
  }

  .profile .name h2 {
    width: 100%;
    margin: 0;
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 0;
    text-align: left;
    font-size: 2rem;
    color: #000;
  }

  .profile .email-info {
    margin-bottom: 1rem;
  }

  .profile .age-info {
    margin-bottom: 1rem;
  }

  .profile .bio-info {
    margin-bottom: 1rem;
  }
}
